body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.puzzle {
  display: inline-block;
  position: absolute;
  width: 117px;
  height: 117px;
  margin: 0.5px;
  background-image: url('/static/img/bg.png');
}

#puzzle {
  position: relative;
  width: 355px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  position: relative;
  top: 350px;
}