body {
  margin-top: -30px;
  margin-right: 0px;
  margin-left: 0px;
  height: 100%;
  background-color: #feffe6;
}
#header {
  background-image: url('/static/img/banner.jpg');
  background-size: cover;
  color: white;
  margin: 0 auto;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header h1 {
  font-size: 3rem;
}

.puzzle {
  display: inline-block;
  position: absolute;
  width: 117px;
  height: 117px;
  background-image: url('/static/img/bg.png');
}

#puzzle {
  position: relative;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.el-card__body {
  padding: 10px 24px 10px 24px;
  text-align: center;
}